<%= form_with(model: todolist, local: true) do |form| %>
  <% if todolist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todolist.errors.count, "error") %> prohibited this todolist from being saved:</h2>

      <ul>
      <% todolist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :登録日 %>
    <%= form.date_select :today %>
  </div>

  <div class="field">
    <%= form.label :TODO %>
    <%= form.text_field :todo %>
  </div>

  <div class="field">
    <%= form.label :メモ %>
    <%= form.text_field :memo %>
  </div>

  <div class="field">
    <%= form.label :〆切 %>
    <%= form.date_select :deadline %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
