<p id="notice"><%= notice %></p>

<!DOCTYPE html>
<html lang='ja'>
<head>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width'>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.0/css/bootstrap.min.css"></link>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular.min.js"></script>

<link rel="stylesheet" type="text/css" href="1026.css">

</head>
<body>

<p>
  <strong>登録日:</strong>
  <%= @todolist.today %>
</p>

<p>
  <strong>TODO:</strong>
  <%= @todolist.todo %>
</p>

<p>
  <strong>メモ:</strong>
  <%= @todolist.memo %>
</p>

<p>
  <strong>〆切:</strong>
  <%= @todolist.deadline %>
</p>

<%= link_to '編集', edit_todolist_path(@todolist) %> |
<%= link_to '戻る', todolists_path %>


</body>
